<ul class="dropdown-menu">
    <li class="header"><%=__('У вас 7 уведомлений')%></li>
    <li>
        <ul class="menu">
            <li>
                <a href="javascript:void(0)">
                    <i class="fa fa-users text-aqua"></i> <%=__('Сегодня присоединилось 5 новых участников')%>
                </a>
            </li>
            <li>
                <a href="javascript:void(0)">
                    <i class="fa fa-warning text-yellow"></i> <%=__('Очень длинное уведомление, которое может не поместиться в дизайнерский блок и вызвать проблемы с отображением')%>
                </a>
            </li>
            <li>
                <a href="javascript:void(0)">
                    <i class="fa fa-users text-red"></i> <%=__('Собрание участников в 10 утра')%>!
                </a>
            </li>
            <li>
                <a href="javascript:void(0)">
                    <i class="fa fa-shopping-cart text-green"></i> <%=__('Сделано 25 продаж')%>
                </a>
            </li>
            <li>
                <a href="javascript:void(0)">
                    <i class="fa fa-user text-red"></i> <%=__('Вы изменили имя пользователя')%>
                </a>
            </li>
            <li>
                <a href="javascript:void(0)">
                    <i class="fa fa-shopping-cart text-green"></i> <%=__('Сделано 12 продаж')%>
                </a>
            </li>
        </ul>
    </li>
    <li class="footer"><a href="ionadmin/notices"><%=__('Все уведомления')%></a></li>
</ul>