<ul class="dropdown-menu">
    <li class="header"><%=__('У вас 4 сообщения')%></li>
    <li>
        <ul class="menu">
            <li>
                <a href="javascript:void(0)">
                    <h4>
                        <%=__('Служба поддержки')%>
                        <small><i class="fa fa-clock-o"></i> <%=__('5 минут')%></small>
                    </h4>
                    <p><%=__('Разработка новой темы для основного шаблона панели')%></p>
                </a>
            </li>
            <li>
                <a href="javascript:void(0)">
                    <h4>
                        <%=__('Команда разработчиков')%>
                        <small><i class="fa fa-clock-o"></i> <%=__('2 часа')%></small>
                    </h4>
                    <p><%=__('Разработка новой темы для основного шаблона панели')%></p>
                </a>
            </li>
            <li>
                <a href="javascript:void(0)">
                    <h4>
                        <%=__('Менеджеры проекта')%>
                        <small><i class="fa fa-clock-o"></i> <%=__('Сегодня')%></small>
                    </h4>
                    <p><%=__('Согласование постановок и задач')%></p>
                </a>
            </li>
            <li>
                <a href="javascript:void(0)">
                    <h4>
                        <%=__('Отдел продаж')%>
                        <small><i class="fa fa-clock-o"></i> <%=__('Вчера')%></small>
                    </h4>
                    <p><%=__('Отчет по последним данным о реализации продукта')%></p>
                </a>
            </li>
            <li>
                <a href="javascript:void(0)">
                    <h4>
                        <%=__('Обозреватели')%>
                        <small><i class="fa fa-clock-o"></i> <%=__('2 дня')%></small>
                    </h4>
                    <p><%=__('Новые возможности продукта')%></p>
                </a>
            </li>
        </ul>
    </li>
    <li class="footer"><a href="ionadmin/messages"><%=__('Все сообщения')%></a></li>
</ul>